#main {
  background-image: url("./images/astro.jpg");
  background-size: cover;
  min-height: 100vh;
  height: auto;
  width: 100%;
}

.Home {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  cursor: pointer;

  > h1 {
    margin: 0;
    text-align: center;
    font-size: 15em;
    color: rgb(255, 255, 255);
  }
  h2 {
    color: aliceblue;
  }
}
#main-card {
  color: aliceblue;
  width: 50%;
  height: 70%;
  background-color: rgba(240, 248, 255, 0.158);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 2em;
  margin: auto;
  overflow: scroll;
  border: 2px solid white;
}
.sign-card {
  color: aliceblue;
  width: 50%;
  padding: 1em;
  background-color: rgba(240, 248, 255, 0.158);
  border-radius: 2em;
  margin: auto;
  overflow: scroll;
  box-shadow: aliceblue 0px 1px 10px 4px;
}

.sign-details {
  height: 100%;
  cursor: default;
  width: 100%;
  text-align: left;
  transition: 1s;
  -webkit-text-stroke: 0.15px black;
  img {
    width: 100%;
    height: 40%;
  }
}
#back {
  cursor: pointer;
}
#sign-head {
  text-transform: capitalize;

  text-align: center;
}
#back:hover {
  text-decoration: underline;
}
.astro {
  cursor: default;
}

.showSigns {
  height: 100%;
  width: 100%;
  display: grid;
  transform-origin: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit, 1fr);
}
.grid-item {
  height: 100%;
  width: 100%;
  position: relative;
  font-style: italic;
  transition: 0.5s;

  &:hover {
    font-size: 1.1rem;
    opacity: 0.8;
  }

  h1 {
    z-index: 1;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 43%;
    left: 43%;
    font-size: 2em;
  }
  img {
    &:hover {
      filter: blur(0.3rem);
    }
    z-index: 0;
    height: 100%;
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .showSigns {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .sign-card {
    color: aliceblue;
    width: 90%;
    border: none;
    padding: 1rem;
    border-radius: 0;
  }
  .Home > h1 {
    font-size: 5em;
  }
}
